*{
    
    
    font-family: "Arial";
}

h1 {
    text-align: center;
    border: 0;
    color: #909090;
    font-family: verdana;
}
h5 {
    text-align: center;
}
input[type=number] {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 14px rgba(0,0,0,0.06);
}
select {
  
  padding:10px;
  border-radius:10px;
}
button {

 

  /* usual styles */
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width: 10%;

}
#conteudo p {
    line-height: 21px;
    margin: 16px 0;
}
#conteudo ul, #conteudo ol { 
    margin-left: 17px;
}
#conteudo ul li, #conteudo ol li { 
    margin-left: 15px; margin-top: 10px; 
}

ul.menu{
    list-style-type: none; margin-left: initial; text-align: left;
}
ul.menu > li{
    border-bottom: 1px solid #eee; margin-top: initial; padding: 13px 0 8px 0;
}
#conteudo ul.menu > li { 
    margin-left: initial;
}
#conteudo {
 font-size: 1.2em; margin: 2% 10px 30px 10px; 
}
#conteudo {
    text-align:left;
}
#conteudo, #conteudo a {
    color:#5a5a5a;
}
#conteudo h2 {
    font-size: 1.3em;
}
#conteudo h2, #conteudo strong {
    color: #616161;
}
#conteudo h2:first-of-type {
    margin-top: 20px;
}
#conteudo h2:not(:first-of-type) {
    margin-top: 50px;
}
#conteudo p {
    line-height: 21px; margin: 16px 0;
}
#conteudo ul.menu {
    margin-top:30px;margin-left:0
}
 #conteudo { 
    left: 10px; max-width: 550px; position: absolute; right: 10px; top: 101%; 
}
  #conteudo ul.menu {

  }
  #conteudo ul.menu > li {
   padding-bottom: 10px 
}
